fastapi
uvicorn
langchain-google-vertexai
langchain-postgres  # For AlloyDB pgvector
langchain-google-firestore
google-cloud-dlp
pgvector
asyncpg
psycopg[binary]
pydantic-settings
pypdf
langchain-community
google-auth
requests
slowapi